<!doctype html>
<html lang="fr">
{{ partial "head" . }}
<body>
{{ partial "header" . }}
<main>
<div class="container">
    <section class="section">
        <ul class="collection with-header">
        <li class="collection-header center-align"><h1><span class="flow-text">LISTE DE PRIX POUR LES EXPLOS ET LES COURS DE PLONGÉE SOUS-MARINE</span></h1>(saison 2018)</li>
        <li class="collection-item active"><span class="title">Baptême</span></li>
        <li class="collection-item"><p>Plongée Découverte <br>
        Profondeur: 5 m max <br>
         <span class="secondary-content">Prix: 40 &#8364</span>
        </p>
        </li>
        <!-- Formation -->
        <!-- Formation Plongeur N1 -->
        <li class="collection-item active"><span class="title">Formation</span></li>
        <li class="collection-item"><span class="title item">Formation Plongeur Niveau I</span>
        <p>Cours théoriques et pratiques, carnet de plongées, carte CMAS<br>
         <span class="secondary-content">Prix*: 220 &#8364</span>
        </p>
        </li>
        <!-- Formation Plongeur N2-->
        <li class="collection-item active"><span class="title">Formation</span></li>
        <li class="collection-item"><span class="title item">Formation Plongeur Niveau II</span>
        <p>Cours théoriques et pratiques, carnet de plongées, carte CMAS<br>
         <span class="secondary-content">Prix*: 350 &#8364</span>
        </p>
        </li>
        <!-- Remarque -->
        <li class="collection-item"><span>* Plus 30 € frais des documents</span></li>
        <!-- Exploration -->
        <li class="collection-item active"><span class="title">Exploration</span></li>
        
        <li class="collection-item"> <strong>Plongée Rochers</strong> 
        <p>Profondeur: de 8 à 17 mètres<br>
        Durée: 45 minutes<br>
        <span class="secondary-content">Prix: 45 &#8364</span> </p>           
        </li><!-- Plongée Rochers -->
        <li class="collection-item"> <strong>Plongée Epave Alga</strong> 
        <p>Profondeur: 18 mètres<br>
            Durée: 40 minutes<br>
        <span class="secondary-content">Prix: 45 &#8364</span> </p>           
        </li><!-- Plongée Epave Alga -->
        <li class="collection-item"> <strong>Plongée Epave Eso</strong> 
        <p>Profondeur: 21 mètres<br>
        Durée: 40 minutes<br>
        <span class="secondary-content">Prix: 45 &#8364</span> </p>          
        </li><!-- Plongée Epave Eso -->
        <li class="collection-item"> <strong>Plongée Epave Edda</strong> 
        <p>Profondeur: 26 mètres<br>
        Durée: 30 minutes<br>
        <span class="secondary-content">Prix: 50 &#8364</span> </p>           
        </li><!-- Plongée Epave Edda -->
        <li class="collection-item"> <strong>Plongée Epave Atitalla</strong> 
        <p>Profondeur: 38 mètres<br>
        Durée: 20 minutes<br>
        <span class="secondary-content">Prix: 60 &#8364</span> </p>           
        </li><!-- Plongée Epave Edda -->
      </ul>

        
    </section>
</div>
</main>
{{ partial "footer" . }}
{{ partial "scripts" . }}
</body>
</html>