<!doctype html>
<html lang="fr">
{{ partial "head" . }}
<body>
{{ partial "header" . }}
<main>
<div class="container">
  <section class="section">
    <h1 class="center-align">Explorer les fonds marins de l'île de Djerba</h1>
    <div class="row">
      <!-- Epave Edda -->
      <div class="card col s12 m6">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="../img/exploration/edda.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Epave Edda : Cruiser militaire italien coulé en 1943<i class="material-icons right">more_vert</i></span>
      
    </div>
    <div class="card-reveal">
      <span class="card-title  grey-text text-darken-4">Epave Edda<i class="material-icons right">close</i></span>
      <p class="flow-text">A distance de 8 miles du centre. A une profondeur qui varie entre 19 et 26 m, ce cruiser militaire qui dépasse 100 mètres de long, garde encore sa structure. Il y a quelques jolies porcelaines, de nombreux équipements militaires, de nombreuses découvertes sont encore à faire sur cette épave. Riche en flore et faune raies pastenagues, mérous, corbs, sars, sérioles, dentés, nuit de branches, castagnoles et différentes anémones.</p>
    </div>
  </div><!-- ./Epave Edda -->
  <!-- Epave Ezzo -->
  <div class="card col s12 m6">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="../img/exploration/ezzo.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Epave EZZO : Navire militaire italien de la 2 guerre<i class="material-icons right">more_vert</i></span>
      
    </div>
    <div class="card-reveal">
      <span class="card-title  grey-text text-darken-4">Epave Ezzo<i class="material-icons right">close</i></span>
      <p class="flow-text">Située à 4 miles du centre, ce navire de guerre est un poseur de mines coula au large du Ras Turgueness. Il repose à une profondeur de 20 m. Il parti le 18 janvier 1943 de Tripoli pour rejoindre Trapani (Italie) et accompagnait le cargo Edda. Le 19 janvier, suite à l’attaque lancée contre le cargo Edda, Eso poursuivit le sous-marin anglais mais subit une attaque aérienne et sombra. Cette épave permet de voir des mérous, liches, raies pastenague, et autres espèces de Djerba.</p>
    </div>
  </div><!-- ./Epave Ezzo -->
  </div>
  <div class="row">
  <!-- Epave Alga -->
  <div class="card col s12 m6">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="../img/exploration/alga.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Epave Alga : Cargo militaire italien coulé en 1942<i class="material-icons right">more_vert</i></span>
      
    </div>
    <div class="card-reveal">
      <span class="card-title  grey-text text-darken-4">Epave Ezzo<i class="material-icons right">close</i></span>
      <p class="flow-text">A une distance de 4 miles du centre, le navire posé sur un fond de sable blanc à 18 mètres de profondeur offre une carcasse assez disloquée avec une silhouette de la coque assez peu reconnaissable, excepté la proue. Mais le désert de sable environnant clairsemé de quelques posidonies, transforme l’épave en véritable oasis de vie ! Les cales éventrées laissent apparaitre du matériel de guerre destiné aux troupes italiennes de Lybie. Sur l’arrière des masque à gaz empilés font croire à un sinistre champs de batailles ou les corps auraient disparu.
Un peu plus loin vers l’avant, des moteurs d’avions jouxtent des collecteurs d’échappements et des rouleaux des fils électriques. Des bancs de corbs évoluent au milieu de la ferraille déchiquetée et quelques petits mérous se cachent sous les tôles ensablées. Les pastenagues sont parfois très nombreuses.
A une centaines de mètre de l’épave trois chars italiens sont posés sur le sable comme des petits jouets abandonnés.</p>
    </div>
  </div><!-- ./Epave alga -->
  <!-- Rochers aux poulpes -->
  <div class="card col s12 m6">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="../img/exploration/rochers.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Rochers aux poulpes<i class="material-icons right">more_vert</i></span>
      
    </div>
    <div class="card-reveal">
      <span class="card-title  grey-text text-darken-4">Rochers aux poulpes<i class="material-icons right">close</i></span>
      <p class="flow-text">A distance de 3 miles du centre. A une profondeur de 17 mètres, cette exploration vous permet de pratiquer la plongée dérivante le long d’un petit canyon de 1 Km, nous découvrirons, abriter dans les roches, de nombreux poulpes. La faune, outre les poulpes, est composée de poissons perroquets, mérous, liches, raies pastenague. Avec de la chance, nous pourrons croiser des tortues.</p>
    </div>
  </div><!-- ./rochers -->
  </div>
    
  </section>
</div>
</main>
{{ partial "footer" . }}
{{ partial "scripts" . }}
</body>
</html>