<!doctype html>
<html lang="fr">
{{ partial "head" . }}
<body>
{{ partial "header" . }}

  <main>

<div class="slider hide-on-small-only">
    <ul class="slides">
        <li><img src="../img/djerba-sub-1.jpg"  class="responsive-img"></li>
        <li><img src="../img/djerba-sub-2.jpg"  class="responsive-img"></li>
 </ul>
</div>
  


<div class="container">
<!-- For mobile -->
  <div class="row">
    <div class="col s12 hide-on-med-and-up">
  <p class="center-align">
  <img src="../img/merou.jpg" alt="" width="70%" height="70%" class="circle  z-depth-1">
</p>
</div>
</div>

  <!-- ./for mobile -->
    <h1 class="center-align">Bienvenue au Centre de Plongée Djerba-Sub</h1>
    
    
<div class="section hide-on-small-only">

    
        
    <p class="flow-text"><strong>Djerba-Sub</strong>, c’est un centre de plongée loisir qui a vu le jour en 2001. Situé les pieds dans l’eau sur la plage de l’île de Djerba, il est une structure professionnelle membre de La Fédération des Activités Subaquatiques de Tunisie (FAST) et agrée par le ministère de Tourisme. Le centre est ouvert 7 jours sur 7 du mois de mars à novembre.</p>
    

    <div class="divider"></div>

    
    <blockquote>
    <p class="flow-text">Les moniteurs de Djerba-Sub Mourad, Amine et Walid sont disponibles pour tous niveaux et tous publics avec des progressions adaptées à chaque plongeur, sous forme des séances de remise à niveau, des programmes à la carte ou des stages de formation.</p>
    </blockquote>
    

    <div class="divider"></div>

    
  <blockquote>
    <p class="flow-text">Le centre est équipé tout confort vestiaires, douches, matériels entretenus et régulièrement renouvelés par souci de sécurité. Equipements conformes aux recommandations de la confédaration mondiale des activités subaquatiques CMAS.</p>
    </blockquote>
    


</div><!-- ./section -->       
</div> <!-- ./container -->
<div class="container hide-on-med-and-up show-on-small">
   <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header light-blue-text text-darken-3 active"><i class="material-icons">&#xE88A;</i><strong>Le centre</strong></div>
      <div class="collapsible-body"> <p><strong>Djerba-Sub</strong>, c’est un centre de plongée loisir qui a vu le jour en 2001. Situé les pieds dans l’eau sur la plage de l’île de Djerba, il est une structure professionnelle membre de La Fédération des Activités Subaquatiques de Tunisie (FAST) et agrée par le ministère de Tourisme. Le centre est ouvert 7 jours sur 7 du mois de mars à novembre.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">&#xE7FB;</i>L'Equipe</div>
      <div class="collapsible-body"><p>Les moniteurs de Djerba-Sub Mourad, Amine et Walid sont disponibles pour tous niveaux et tous publics avec des progressions adaptées à chaque plongeur, sous forme des séances de remise à niveau, des programmes à la carte ou des stages de formation.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">&#xE569;</i>Les Equipements</div>
      <div class="collapsible-body"><p>Le centre est équipé tout confort vestiaires, douches, matériels entretenus et régulièrement renouvelés par souci de sécurité. Equipements conformes aux recommandations de la confédaration mondiale des activités subaquatiques CMAS.</p></div>
    </li>
  </ul>
</div> <!-- ./container --> 
</main>    
{{ partial "footer" . }}
{{ partial "scripts" . }}
</body>
</html>