<footer class="page-footer light-blue darken-3">
          <div class="container">
            <div class="row">
              
              <div class="col m4  s12">
                <h5 class="white-text">Carte de Site</h5>
                <ul>
                {{ range .Site.Menus.main}}
                    <li><a class="white-text" href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
                </ul>
              </div>
              <div class="col m4">
                <div class="container">
                  <p>RETROUVEZ-NOUS SUR LES RÉSEAUX </p>
                 
                {{ partial "social" . }}
                </div>
                
              </div>
              {{ if isset .Site.Params "address" }}
              <div class="col m4 s12">
                <h5 class="white-text">Contact</h5>
                {{ .Site.Params.address | markdownify }}
                <div><a href="/contact" class="waves-effect waves-light btn">Contactez-nous</a></div>
              </div>
              {{ end }}
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Djerba-Sub all rights reserved.
          </div>
          </div>
</footer>