	<!-- Icon Fonts-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/iconfonts.css">

    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <!-- Gallery CSS -->
    <link type="text/css" rel="stylesheet" href="../css/lightgallery.css" /> 
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/custom.css">
