<!doctype html>
<html lang="fr">
{{ partial "head" . }}
<body>
{{ partial "header" . }}
<main>
<div class="container">
  <section class="section formation">
  <div class="row">
    
      <h1 class="center-align">Formation en plongée sous-marine</h1>
      
      <p class="flow-text">Déjà plongé ? Osez <strong> formation en plongée sous-marine !</strong> De niveaux débutant à confirmé, nos formations sont à la carte et proposent un cursus complet de développement. Accessibles à partir de 8 ans, tous publics.</p>
    
    <div class="col s12">
      <div class="item card hoverable">
        <div class="card-image">
          <img src="../img/formation/bapteme.jpg">
                  
          <a class="b-card btn-floating halfway-fab waves-effect waves-light red"><i class="fa icon-plus"></i></a>
            <h3 class="card-title">Le baptême</h3>
        </div>
        <div class="card-content">
        
          <p class="flow-text truncate" id="bapteme">Le baptême de plongée est une activité simple et ouverte à tous. Aucune expérience n’est nécessaire pour cette plongée. Votre moniteur particulier vous assistera pour rendre votre plongée agréable et sans effort. Même si vous ne nagez pas bien, vous pourrez plonger. En dehors du temps de préparation, et la ballade en bateau jusqu’au site de plongée, vous serez dans l’eau avec votre moniteur pendant 25 minutes. Vous découvrirez la vie marine de Méditerranée dès vos premières respirations sous l’eau. L’âge minimum pour cette plongée est de 8 ans. Profondeur jusqu’à 6 mètres. Vous avez adoré votre baptême de plongée? Vous pouvez répéter l’expérience et profiter de nombreux sites de plongée pour débutant. Si vous souhaitez apprendre plus et progresser, vous pouvez commencer une formation CMAS.</p>
        </div>
        
      </div>
    </div>
  </div><!-- ./row bapteme  -->
  <div class="row">
   
      
    <div class="col s12">
      <div class="item card hoverable">
        <div class="card-image">
          <img src="../img/formation/cmas.jpg">
          
          <a class="b1-card btn-floating  halfway-fab waves-effect waves-light red"><i class="fa icon-plus"></i></a>
        </div>
        <div class="card-content">
          <h3 class="card-title">Brevet CMAS Niveau 1</h3>
          <p class="flow-text truncate" id="cmas1">Premier niveau de plongeur, il est accessible dès l’age de 14 ans. Ce niveau permet de plonger jusqu’à une profondeur de 20 mètres encadré par un guide de palanquée ou un moniteur. Ce niveau est matérialisé par la délivrance d’une carte CMAS* permettant de plonger partout dans le monde.Pour accéder à cette formation, il est nécessaire d’avoir un certificat médical. A la suite de l’obtention de ce niveau, il est recommandé de plonger régulièrement et graduellement. Ce niveau est nécessaire pour accéder à la formation de niveau 2 de plongeur. Cette formation se fait en 6 plongées, fourni un carnet de plongée et un manuel de cours théoriques NP1.</p>
        </div>
        
      </div>
    </div>
  </div><!-- ./row cmas-1 -->
  </section>
</div>
</main> 
{{ partial "footer" . }}
{{ partial "scripts" . }}
</body>
</html>